$maxMoblie :"(max-width: 767px)";
$maxSmall  :"(max-width: 991px)";
$minSmall  :"(min-width: 768px)";
$minSmalla :"(max-width: 768px)";
$minMed    :"(min-width: 992px)";
$minLarge  :"(min-width: 1200px)";
$minLarger  :"(max-width: 1200px)";

$mainFont:'Open Sans', sans-serif;
$logoFont:'Montserrat Alternates', sans-serif;

$mainColor:rgb(255, 102, 0);
$textColor:#606060;
$backgroundColor:#F9F9F9;

$float-left:left;
$float-right:right;